/* Главная страница */
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: #fff;
}
.header::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    z-index: 2;
}
.header__body {
    position: relative;
    display: flex;
    height: 100px;
    align-items: center; 
    z-index: 10;
}
.header__logo {
    overflow: hidden;
    z-index: 3;
    width: 55px;
    height: 79px;
}
.header__logo-link {
}
.header__logo-img {
    max-width: 100%;
    display: block;
}
.header__burger {
    display: none;
}
.header__menu {
    z-index: 2;
    display: flex;
    justify-content: space-between;
}
.header__list {
    margin-top: 10px;
    display: flex;
    position: relative;
    justify-content: space-between;
}
.header__link {
    margin-left: 51px;
}
.header__list>li:hover .sub-menu__list{
    display: block;
}
/* .sub__menu-linkOne>li:hover .sub-sub-menu__list-second{
    display: block;
} */
.arrow__down {
    position: absolute;
    top: 11px;
    right: -15px;
}
.sub-menu__list {
    background-color: #fff;
    z-index: 222;
	display: none;
	min-width: 200px;
	position: absolute;
	left: 135px;
	top: 20px;
    padding: 20px 0px 0px 0px;
    border: 1px solid rgba(240, 240, 240, 0.5);
    box-sizing: border-box;
    box-shadow: 0px 0px 20px 1px rgba(255, 250, 250, 0.05);
    border-radius: 10px;
}
.sub-menu__list>li{
	background-color: #fff;
}
.sub-menu__link {
	display: inline-block;
	padding: 5px 10px;
}
.sub-sub-menu__list {
    background-color: #fff;
    z-index: 222;
	display: none;
	position: absolute;
	top: 20px;
    left: 100%;
    min-height: 195px;
	min-width: 368px;
    padding: 0px 0px 0px 5px;
    border-radius: 10px;
}
.sub-sub-menu__list-second {
    background-color: #fff;
    z-index: 222;
	display: none;
	position: absolute;
	top: 20px;
	left: 100%;
	min-width: 368px;
    padding: 0px 0px 0px 5px;
    border-radius: 10px;
}
.sub__sub-menu{
    display: flex;
    flex-wrap: wrap;
    min-width: 368px;
    min-height: 195px;
}
.sub__sub-sub-menu{
     display: flex;
    flex-direction: column;
    min-width: 168px;
}
.sub-sub-menu__list>li{
	background-color: #fff;
}
.sub-sub-menu__link {
	display: inline-block;
    padding: 5px 15px;
    width: 180px;
}
.sub-sub-menu__link1{
    display: inline-block;
    padding: 5px 15px;
    max-width: 280px;
}
.arrow, .arrow2, .arrow3, .arrow4, .arrow5 {
	display: none;
	position: absolute;
	right: 0;
	top: 12px;
	width: 0;
	height: 0;
	border-top: 10px solid #fff;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
}
.arrow.active{
	transform: rotate(-180deg);
}
.arrow3.active{
	transform: rotate(-180deg);
}
.arrow4.active{
	transform: rotate(-180deg);
}
.arrow2.active{
	transform: rotate(-180deg);
}
.arrow5.active{
	transform: rotate(-180deg);
}
.sub-menu__arrow.arrow {
	right: 10px;
	border-left: 10px solid #000;
	border-right: none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.sub-menu__arrow.arrow2 {
	right: 10px;
	border-left: 10px solid #000;
	border-right: none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.sub-menu__arrow.arrow3{
	right: 10px;
	border-left: 10px solid #000;
	border-right: none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.sub-menu__arrow.arrow4{
	right: 10px;
	border-left: 10px solid #000;
	border-right: none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
.sub-menu__arrow.arrow5{
	right: 10px;
	border-left: 10px solid #000;
	border-right: none;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
}
body.mouse .menu__list>li:hover .sub-menu__list {
	display: block;
}
body.mouse .sub-menu__list>li:hover .sub-sub-menu__list {
	display: block;
}
body.mouse .sub__menu-list>li:hover .sub-sub-menu__list-second {
	display: block;
}
body.touch .sub-menu__list.open{
	display: block;
}
body.touch .sub-sub-menu__list.open{
	display: block;
}
body.touch .sub-sub-menu__list-second.open{
	display: block;
}
body.touch .arrow {
	display: block;
}
body.touch .arrow2 {
	display: block;
}
body.touch .arrow3 {
	display: block;
}
body.touch .arrow4 {
	display: block;
}
body.touch .arrow5 {
	display: block;
}

.header__input {
    position: relative;
    margin-right: 32px;
    margin-left: 141px;
}
.search {
    margin-top: 6px;
    border:1px solid #F8F8F8;
    box-sizing: border-box;
    border-radius: 50px;
    width: 445px;
    height: 40px;
    padding: 10px 22px;
}
.search::placeholder{
    font-size: 14px;
    line-height: 21px;
}
.search:hover{
    border:1px solid #919191;
}
.search__img {
    position: absolute;
    top: 18px;
    right: 16px;
    cursor: pointer;
}
/* Контент */
.content{
    padding-top: 123px;
}
.content__title {
    display: flex;
}
.title {
}
.content__img{
    width: 16px;
    height: 30px;
}
.content__title-img {
    width: 100%;
}
.slider {
    display: flex;
    justify-content: space-between;
    margin-top: 35px;
}
.description {
    width: 255px;
}
.desc__block-img {
    width: 255px;
    height: 141px;
    position: relative;
}
.desc__img {
    width: 100%;
    height: 100%;
}
.sale__block {
    position: absolute;
    bottom: 8px;
    left: 0;
}
.sale__img {
}
.sale__text {
    position: absolute;
    top: 4px;
    left: 5px;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
}
.desc__block-img-sec{
    margin-top: 15px;
}
.desc__product {
    text-align: right;
    width: 250px;
    margin-top: 40px;
}
.desc__product-second{
    margin-top: 25px;
    text-align-last: left;
}
.desc__prod{
    margin-top: 1px;
    text-align-last: left;
}
.title {
}
.desc__title {
    font-size: 20px;
    line-height: 30px;
    text-align: right;
    text-transform: uppercase;
}
.desc__product-text {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    text-align: right;
}
.price__stock {
    margin-top: 9px;
    display: flex;
    width: 255px;
    justify-content: space-between;
}
.price__cost {
    display: flex;
}
.price__old {
    font-size: 13px;
    line-height: 19px;
    text-decoration-line: line-through;
    padding-right: 5px;
    padding-top: 4px;
}
.price__new {
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    color: #EE3338;
}
.stock {
    display: flex;
    margin-top: 3px;
}
.stock__text {
    margin-right: 5px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
}
.stock__checkbox {
    border: 1px solid #2C2C2C;
    box-sizing: border-box;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    position: relative;
}
.stock__img {
    position: absolute;
    top: 3.5px;
    left: 3px;
}
.desc__block-img-other{
    width: 255px;
    position: relative;
    height: 181px;
}
.slider .slick-arrow{
    top: 45%;
    z-index: 0;
    position: absolute;
    font-size: 0;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
}
.slider .slick-arrow.slick-prev{
    background: url(../images/prevArrow.png) 0 0 /100% no-repeat;
    left: -65px;
}
.slider .slick-arrow.slick-next{
    background: url(../images/nextArrow.png) 0 0/ 100% no-repeat;
    right:-55px;
}
.slider{
    margin-left: 15px;
    margin-right: 15px;
}
/* Новинки */
.newItems{
    margin-top: 130px;
}
.newItems__block{
    margin-top: 35px;
    display: flex;
    justify-content: space-between;
}
.nI__block{
    margin-top: 50px;
}
.newItems__sale{
    position: absolute;
    top: 11px;
    left: 80%;
}
.newItems__sale-text{
    position: absolute;
    top: 1px;
    left: 16px;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
}
.popup__link{
    position: absolute;
    bottom: 0;
    width: 232px;
    height: 53px;
    left: 5%;
}
.popup__open{
    position: absolute;
    top: 15px;
    left: 41px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/* Реклама Блок */
.ad__block {
    margin-top: 87px;
    margin-bottom: 83px;
}
.ad__block-fon {
    display: flex;
    justify-content: space-between;
    background: #D02C43;
    height: 165px;
    width: 100%;
}
.ad__text-block{
    max-width: 344px;
    margin-top: 50px;
    margin-right: 79px;
}
.ad__img {
    height: 100%;
}
.ad__text {
    font-family: Nunito;
    font-size: 35px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}
/* Рекомендация */
.recommend__slide{
    margin-top: 35px;
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}
.recommend__slide .slick-arrow{
    top: 45%;
    z-index: 10;
    position: absolute;
    font-size: 0;
    width: 36px;
    height: 36px;
    border: none;
    cursor: pointer;
}
.recommend__slide .slick-arrow.slick-prev{
    background: url(../images/prevArrow.png) 0 0 /100% no-repeat;
    left: -65px;
}
.recommend__slide .slick-arrow.slick-next{
    background: url(../images/nextArrow.png) 0 0/ 100% no-repeat;
    right:-55px;
}
/* Информация о компании */
.info__company {
    background: #FBFBFB;
    margin: 85px 50px;
    display: flex;
    justify-content: space-between;
}
.info__block-img{
    align-items: center;
    text-align: center;
}
.info__title {
    margin-top: 10px;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.info__text {
    padding-top: 7px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    max-width: 150px;
    margin: 0 auto;
}
/* ФУТЕР */
.footer__block {
    display: flex;
    justify-content: space-between;
}
.footer__logo {
}
.footer__logo-img {
}
.fabrics__block {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 250px;
}
.fittings__block{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    width: 300px;
}
.title__footer {
    font-size: 16px;
    line-height: 21px;
}
.fabrics__product {
    margin-top: 4px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
}
.fabrics__first, .fabrics__second{
    width: 80px;
}
.fittings__first, .fittings__second{
    width: 80px;
}
.fittings__second{
    width: 140px;
}
.fittings {
}
.fittings__product {
    margin-top: 4px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
}
.contact__footer{
    margin-top: 10px;
}
.contact__title{
    text-align: right;
}
.contact__links {
    max-width: 128px;
}
.contact__number-footer {
    font-family: Nunito;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: right;
}
.social__network{
    margin-left: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
    max-width: 68px;
}
/* Медиа запрос для БУРГЕР МЕНЮ */
@media only screen and (min-width: 320px) and (max-width: 1100px){
    .header::before{
        background-color: #fff ;
    }
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        right: 50px;
    }
    .header__burger::before,
    .header__burger::after{
        content: "";
        background-color: black;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .sub-menu__arrow.arrow {
		right: 10px;
		top: 15px;
		border-bottom: none;
		border-left: 10px solid transparent;
		border-top: 10px solid #000;
		border-right: 10px solid transparent;
	}
    .header__logo{
        width: 35px;
        height: 59px;
        margin-left: 50px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger.active::before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active::after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger::before{
        top: 0;
    }
    .header__burger::after{
        bottom: 0;
        transition: all 0.3s ease 0s;
    }
    .header__burger span{
        position: absolute;
        background-color: black;
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.4s ease 0s;
    }
    .header__menu{
       text-align: center;
        flex-direction: column;
    }
    .header__list{
        flex-direction: column;
    }
    .search{
        width: 200px;
    }
    .header__nav{
        position: fixed;
        top: -150%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        padding: 150px 0px 0px 0px;
        transition: all 0.5s ease 0s;
    }
    .header__nav.active{
        top: 0;
    }
    .header__body{
        display: flex;
        justify-content: space-between;
    }
}
/* Медиа запрос */
@media only screen and (min-width: 758px) and (max-width: 1100px){
    .header__logo{
        width: 80px;
        height: 90px;
    }
    .header__link{
        font-size: 26px;
        margin-left: 0;
    }
    .header__list li{
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .header__input{
        margin: 0 auto;
    }
    .search{
        border: 1px solid grey;
    }
    .header__contact{
        margin-top: 15px;
    }
    .header__contact li{
        margin-top: 20px;
    }
    .number__link{
        font-size: 26px;
    }
    .newItems__block{
        flex-wrap: wrap;
    }
    .description{
        width: 320px;
    }
    .slider .slick-arrow.slick-next{
        right: -20px;
    }
    .ad__block{
        width: 100%;
        height: 70%;
    }
    .ad__block-fon{
        height: 70%;
        width: 100%;
    }
    .ad__img{
        width: 50%;
    }
    .ad__text-block{
        margin-top: 20px;
        margin-right: 20px;
    }
    .ad__text{
        font-size: 20px;
        line-height: 25px;
    }
    .recommend__slide .slick-arrow.slick-next{
        right: -20px;
    }
    .info__company{
       margin: 85px 20px;
    }
    .footer__block{
        flex-wrap: wrap;
    }
    .footer__logo{
        padding-left: 20%;
    }
}
@media only screen and (min-width: 480px) and (max-width: 758px){
    .header::before{
        height: 100px;
    }
    .header__logo{
        width: 80px;
        height: 70px;
    }
    .header__nav{
        padding: 80px 0 0 0;
    }
    .sub-menu__list{
		position: absolute;
		left: 0;
        top: 0;
        max-height: 1000px;
        min-width: 300px;
	}
	.sub-sub-menu__list{
		padding: 0px 5px;
		position: absolute;
		left: 100%;
        top: 0;
        min-width: 400px;
	}
	.sub-sub-menu__list-second{
		padding: 0px 5px;
		position: absolute;
		left: 0;
		top: 0;
	}
	.sub-menu__arrow.arrow {
		right: 10px;
		top: 65px;
		border-bottom: none;
		border-left: 10px solid transparent;
		border-top: 10px solid #000;
		border-right: 10px solid transparent;
    }
    .sub__sub-menu{
        min-width: 400px;
    }
	.sub-menu__arrow.arrow2 {
		right: 10px;
		top: 30px;
		border-bottom: none;
		border-left: 10px solid transparent;
		border-top: 10px solid #000;
		border-right: 10px solid transparent;
	}
	.sub-menu__arrow.arrow3 {
		right: 10px;
		top: 100px;
		border-bottom: none;
		border-left: 10px solid transparent;
		border-top: 10px solid #000;
		border-right: 10px solid transparent;
    }
	.sub-menu__arrow.arrow4 {
		right: 10px;
		top: 145px;
		border-bottom: none;
		border-left: 10px solid transparent;
		border-top: 10px solid #000;
		border-right: 10px solid transparent;
    }
	.sub-menu__arrow.arrow5 {
		right: 10px;
		top: 190px;
		border-bottom: none;
		border-left: 10px solid transparent;
		border-top: 10px solid #000;
		border-right: 10px solid transparent;
    }
    .sub-sub-menu__link {
        padding: 0 5px;
    }
    .sub-menu__link {
        max-width: 210px;
        padding: 0 10px;
    }
    .header__link{
        font-size: 20px;
        margin-left: 0;
    }
    .header__list li{
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .header__input{
        margin: 0 auto;
    }
    .search{
        width: 320px;
        border: 1px solid grey;
    }
    .header__contact{
        margin-top: 10px;
    }
    .header__contact li{
        margin-top: 15px;
    }
    .number__link{
        font-size: 20px;
    }
    .description{
        width: 100%;
        margin: 0px 15px;
    }
    .desc__block-img{
        width: 85%;
        height: 75%;
    }
    .desc__product{
        width: 90%;
    }
    .desc__title{
        width: 80%;
    }
    .desc__product-text{
        width: 80%;
    }
    .price__cost{
        flex-direction: column;
    }
    .price__stock{
        width: 85%;
    }
    .sale__text{
        font-size: 14px;
        top: 2px;
        left: 2px;
    }
    .slider .slick-arrow.slick-next{
        right: -40px;
    }
    .newItems__block{
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .newItems{
        margin-top: 60px;
    }
    .newItems__sale{
        margin-right: 20px;
    }
    .newItems__sale{
        left: 70%;
    }
    .desc__newItems{
        margin-top: 80px;
    }
    .desc__block-img-other{
        height: 55%;
    }
    .newItems__sale-text{
        left: 14px;
    }
    .ad__block{
        width: 100%;
        height: 40%;
    }
    .ad__block-fon{
        height: 40%;
        width: 100%;
    }
    .ad__img{
        width: 57%;
    }
    .ad__text-block{
        margin-top: 10px;
        margin-right: 10px;
    }
    .ad__text{
        font-size: 18px;
        line-height: 25px;
    }
    .recommend__slide{
        margin-left: 35px;
        margin-right: 0;
        width: 95%;
    }
    .recommend__slide .slick-arrow{
        top: 60%;
    }
    .recommend__slide .slick-arrow.slick-next{
        right: -40px;
    }
    .info__company{
        background-color: #fff;
       margin: 45px 0;
        flex-direction: column;
    }
    .info__block{
        margin-top: 40px;
    }
    .footer__block{
     flex-wrap: wrap;
    }
    .footer__logo{
        margin: 0 auto;
        height: 100%;
        padding-bottom: 40px;
    }
    .fabrics, .fittings{
        margin: 0 auto;
        padding-bottom: 40px;
    }
    .contact__footer{
    }
    .popup__link{
        position: absolute;
        bottom: 10%;
        width: 102px;
        height: 23px;
        left: 5%;
    }
    .popup__link-img{
        width: 150px;
        height: 33px;
    }
    .popup__open{
        position: absolute;
        top: 10px;
        width: 150px;
        left: 20px;
        font-size: 12px;
        line-height: 14px;
        color: #FFFFFF;
    }
}
@media only screen and (min-width: 320px) and (max-width: 480px){
    body{
        overflow-x: hidden;
        overflow-y: hidden;
    }
    .header__logo{
        width: 80px;
        height: 90px;
    }
    .header__link{
        font-size: 20px;
        margin-left: 0;
    }
    .header__list li{
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .sub-menu__list{
		position: absolute;
		left: 0;
        width: 100%;
        min-height: 100vh;
        top: -60%;
    }
    .sub-menu__list li{
        line-height: 50px;
        width: 250px;
        margin: 0 auto;
    }
	.sub-sub-menu__list{
		padding: 0px 0px;
        position: absolute;
        min-width:90%;
        left: 0;
        top: -20%;
        z-index: 9999;
        overflow: auto;
        min-height: 100%;
        margin-top: 0;
	}
	.sub-menu__arrow.arrow {
		right: 15px;
		top: 16%;
		border-bottom: none;
		border-right: 10px solid transparent;
		border-top: 10px solid #000;
		border-left: 10px solid transparent;
    }
    .sub__sub-menu{
        flex-direction: column;
        overflow: auto;
        margin-top: 70px;
        min-height: 100%;
        z-index: 9999;
        min-width: 90%;
        padding-top: 30px;
    }
    .sub__sub-sub-menu{
        flex-direction: column;
        overflow: auto;
        margin-top: 170px;
        min-height: 100%;
        z-index: 9999;
        min-width: 90%;
        padding-top: 30px;
    }
    .sub-menu__arrow.arrow2{
        position: absolute;
        right: 15px;
		top: 6%;
		border-bottom: none;
		border-right: 10px solid transparent;
		border-top: 10px solid #000;
		border-left: 10px solid transparent;
    }
    .sub-menu__arrow.arrow3{
        position: absolute;
        right: 15px;
		top: 26%;
		border-bottom: none;
		border-right: 10px solid transparent;
		border-top: 10px solid #000;
		border-left: 10px solid transparent;
    }
    .sub-menu__arrow.arrow4{
        position: absolute;
        right: 15px;
        top: 36%;
		border-bottom: none;
		border-right: 10px solid transparent;
		border-top: 10px solid #000;
		border-left: 10px solid transparent;
    }
    .sub-menu__arrow.arrow5{
        position: absolute;
        right: 15px;
        top: 53%;
		border-bottom: none;
		border-right: 10px solid transparent;
		border-top: 10px solid #000;
		border-left: 10px solid transparent;
    }
    .sub__menu-link{
        padding: 20px 0px;
    }
    .header__list li{
        margin-top: 0;
    }
    .sub-sub-menu__list>li{
        padding-top: 0;
        margin-bottom: 0;
    }
    .sub-sub-menu__link{
        padding: 5px;
        line-height: 15px;
        width: 100%;
    }
    .header__input{
        margin: 0 auto;
    }
    .search{
        width: 320px;
        border: 1px solid grey;
    }
    .header__contact{
        margin-top: 15px;
    }
    .header__contact li{
        margin-top: 20px;
    }
    .number__link{
        font-size: 20px;
    }
    .search{
        font-size: 16px;
    }
    .search::placeholder{
        padding-top: 2px;
        font-size: 16px;
    }
    .title{
        font-size: 25px;
        line-height: 1;
    }
    .description__mobile{
        width: 150px;
        padding: 0 15px 0 15px;
    }
    .desc__block-img{
        width: 80%;
        height: 70%;
        margin-left: 10%;
        margin-right: 10%;
    }
    .desc__product{
    }
    .desc__title{
        width: 80%;
        margin-left: 10%;
    }
    .desc__product-text{
        width: 57%;
        margin-left: 10%;
    }
    .price__cost{
        flex-direction: column;
    }
    .price__stock{
        margin-left: 10%;
        width: 80%;
    }
    .sale__text{
        font-size: 14px;
        top: 2px;
        left: 2px;
    }
    .slider{
        display: block;
    }
    .slider .slick-arrow.slick-next{
        right: -50px;
    }
    .slider .slick-arrow.slick-prev{
        left: -60px;
    }
    .newItems__block{
        margin: 0 auto;
        flex-wrap: wrap;
    }
    .newItems{
        margin-top: 60px;
    }
     .newItems__sale{
        margin-right: 20px;
    }
    .newItems__sale{
        left: 74%;
    }
    .desc__newItems{
        margin-top: 40px;
    }
    .desc__block-img-other{
        height: 50%;
    }
    .newItems__sale-text{
        left: 14px;
    } 
    .ad__block{
        width: 100%;
        height: 40%;
    }
    .ad__block-fon{
        height: 50%;
        width: 100%;
    }
    .ad__img{
        width: 57%;
    }
    .ad__text-block{
        margin-top: 5px;
        margin-right: 5px;
    }
    .ad__text{
        font-size: 10px;
        line-height: 14px;
    }
    .recommend__slide{
        margin-left: 15px;
        margin-right: 0;
        width: 95%;
    }
    .recommend__slide .slick-arrow{
        top: 60%;
    }
    .recommend__slide .slick-arrow.slick-next{
        right: -40px;
    }
    .recommend__slide .slick-arrow.slick-prev{
        left: -40px;
    }
    .info__company{
        background-color: #fff;
       margin: 45px 0;
        flex-direction: column;
    }
    .info__block{
        margin-top: 40px;
    }
    .footer{
        padding-bottom: 30px;
    }
    .footer__block{
     flex-wrap: wrap;
    }
    .footer__logo{
        margin: 0 auto;
        height: 100%;
        padding-bottom: 40px;
    }
    .fabrics, .fittings{
        margin: 0 auto;
        padding-bottom: 40px;
    }
    .contact__footer{
        margin: 0 auto;
    }
    .contact__title{
        text-align: center;
    }
    .social__network{
        padding-top: 20px;
        margin: 0 auto;
    }
    .popup__link{
        position: absolute;
        bottom: 10%;
        width: 102px;
        height: 23px;
        left: 5%;
    }
    .popup__link-img{
        width: 180px;
        height: 37px;
    }
    .popup__open{
        position: absolute;
        top: 10px;
        width: 150px;
        left: 25px;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
    }
}